/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left: 0px;

    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 100px;
    margin: 3px 6px;
    width: 100px;
  
}


/* Navigation Bar: List Styling */

#navbar ul{
    display:flex;
 
    font-family: 'century', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 10px 50px;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px;
}

#navbar ul li a:hover{
   
        background-color: white;
       color: black;
       box-shadow: 0 0 5px white, 0 0 10px white, 0 0 35px white;
     font-size: 1em;
     font-weight: bold;
      }

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 930px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 850px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.9;
  
}
#home h2{
    background-color: cyan;
    color: black;
    font-size: 2.5em;
    border:1px solid greenyellow;
    border-radius: 15px;
    font-family:cursive;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    animation-name: myname;
  position: relative;
  animation-duration: 4s;
  animation-iteration-count: infinite;
animation-direction:normal;


}
@keyframes myname{
 0%{
  left: 0%;
  top:10px;
  background-color: azure;
      color: red;
      border-radius: 40px;
}
50%{
   background-color: greenyellow;
   
    left:-22%;
  top: 0px;
    color:  blue;
    border-radius: 35px;
}
80%{
    left: 30%;
    top: 0px;
background-color: blueviolet;
color: maroon; 
border-radius: 40px;
   
}
100%{
    left:00%;
  top: 0px;
    color:yellow; 
  background-color: red;
}
}

#home h1:hover{
    background-color: bisque;
    color:deeppink;
    border-radius: 12px;
}

#home p{
    color:mediumspringgreen;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    height: 600px;
    
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
    text-align: justify;

} 

/* Clients Section */


#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 70%;
 z-index: -1;
 opacity: 0.3;
 background-position: cover;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */


#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
/*#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}*/


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 10px;
    color:crimson;
    font-weight: bold;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

button{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(11, 2, 65);
    color: white;
   
    font-size: 1.5rem;
    border-radius: 20px;
    cursor:pointer;
}
button:hover{
    background-color:blue;
    color: rgb(145, 185, 51);
}


.center{
    text-align: center;
}

